.App {
	text-align: center;
	min-height: 100vh;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

button {
	font-size: calc(10px + 2vmin);
}

.dark-theme {
	background-color: #282c34;
	color: whitesmoke;
}

.todo-item {
	width: 80%;
	max-width: 300px;
	padding: 20px;
	margin: 30px;
	border: 1px solid purple;
	display: flex;
	justify-content: space-around;
}
