.HeartAnimation {
	padding-top: 2em;
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/66955/web_heart_animation.png');
	background-repeat: no-repeat;
	background-size: 2900%;
	background-position: left;
	height: 70px;
	width: 80px;
	margin: 0 auto;
	cursor: pointer;
	position: absolute;
	top: 20px;
	left: 20px;
}

.animate {
	animation: heart-burst 0.8s steps(28) forwards;
}

@keyframes heart-burst {
	0% {
		background-position: left;
	}
	100% {
		background-position: right;
	}
}
