body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  /* background: linear-gradient(#403b4a, #e7e9bb) fixed; */
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dark-mode {
  > input {
    background: rgba(196, 167, 226, 0.986) !important;

    color: rgb(7, 6, 6) !important;

    &:focus {
      border-bottom: 1px solid rgb(104, 70, 126);
    }
  }
}
.dark-mode-bg {
  height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
  background: linear-gradient(#230023, #80007f) fixed !important;
}
