body{
  font-family: 'Lato', sans-serif;
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#container{
  width: 360px;
  margin: 100px auto;
  background-color: #f7f7f7;
  box-shadow: 0 0 3px  rgba(0, 0, 0, 0.1);
}

h1{
  /* background: #2980b9; */
  color: white;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
  background: #24243e;  /* fallback for old browsers */
}

input{
  font-size: 18px;
  color: #24243e;
  background-color: #f7f7f7;
  width: 100%;
  padding: 13px 13px 13px 20px;
  box-sizing: border-box;
  border: 3px solid #302b63;
}

input:focus{
  background: #fff;
  border: 3px solid #302b63;
  outline: none;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

li{
  background: #fff;
  height: 40px;
  line-height: 40px;
  color: #302b63;
}
li:nth-child(2n){
  background: #f7f7f7;
}

span{
  background: #FC354C;
  color: white;
  height: 40px;
  width: 0px;
  margin-right: 20px;
  text-align: center;
  display: inline-block;
  transition: 0.2s linear;
  opacity: 0;
}

li:hover span{
  width: 40px;
  opacity: 1.0;
}

.fa-plus{
    float: right;
}

.completed{
  color: #302b63;
  text-decoration: line-through;
}
